<%-include("../partials/header")%> <%-include("../partials/navbar")%>
<style>
  .img {
    width: 100%;
    height: 560px;
    background-image: url(https://media.istockphoto.com/id/1286406561/photo/young-woman-facial-expression-stock-photo.jpg?s=612x612&w=0&k=20&c=Muy3BkZRMrJRdX_a8-p_jbWBi6G8_YdXdz8WXZ87HE0=);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ram {
    text-align: center;
    color: #1b263b;
    padding: 250px auto;
  }
</style>
<div class="img">
  <h1 class="ram">Shoping App</h1>
</div>
